html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

section{
  min-height: 100%;
}

a{
  text-decoration: none;
}

p{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 27px;
  width: 800px;
  margin: 30px auto 0 auto;
}

li {
  list-style-type: none;
}
h1, h2, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4f4f4f;
  text-transform: uppercase;
  margin: 10px;
}
h1 {
  font-size: 54px;
  padding-top: 8%;
}
h2 {
  color:#4d574b;
  font-size: 36px;

}

hr {
  width: 82px;
  height: 3px;
  background: #4f4f4f;
  border: 20px;
  margin:0 auto 40px auto;
}
/*Abaout********/
#about img{
  width: 50;
  height: 581px;
}
/*HEADER**********************************************/
#logo, li,#laender ul img,#newspaper ul img, img {transition: all 500ms}

header {
  width: 100%;
  height: 93px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo:hover{
    opacity: 0.5;
}

#logo {
  width: 80px;
  float: left;
  margin: 10px 0 0 50px;
}

#logo img{
  width: 100%;
}
header nav ul li:hover{
  margin-top: 10px;
}

header nav {
  float: right;
  margin: 10px 50px 0px 0px;
}

#nav ul a {
  float: right;
  margin-left: 15px;
  font-size: 25px;
}
/*Start**********************************************/
#anfang {
  background: url(../hratugazeitungen/images/home_background.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#anfang h1 {
  margin-top:  178px;
  font-family: "Train One", sans-serif;
  color: black;
}

#anfang h2 {
  font-family: "Train One", sans-serif;
  color: black;
}
/*About****/

/***aktuellste_zeitung***/
#aktuellste_zeitung{
  background:#f5f5f5;
}
/**Liste aller Zeitungen**/
#zeitungen table th,#zeitungen table td {
  border: 1px solid gainsboro;
}

#zeitungen table{
  border-collapse: collapse;
  text-align: center;
  width:80%;
  margin:10px auto;
}
#zeitungen table th{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4f4f4f;;
  margin: 10px;
  font-size: 30px;
}
#zeitungen table td{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
#aktuellste_zeitung iframe{
  margin-bottom: 20px;
}
