html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

#logo, #nav ul li {transition: all 500ms}

section{
  min-height: 60%;
}

a{
  text-decoration: none;
}

p{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 23px;
  width: 1100px;
  margin: 30px auto 30PX auto;
}

li {
  list-style-type: none;
}
h1, h2, a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4f4f4f;
  text-transform:  none;
  margin: 10px;
  font-size: 30px;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4f4f4f;
  margin: 10px;
  font-size: 28px;
  text-transform: none;
}
h1 {
  font-size: 55px;
  padding-top: 8%;
}
h2 {
  color:#4d574b;
  font-size: 40px;
}
hr {
  width: 82px;
  height: 3px;
  background: #4f4f4f;
  border: 20px;
  margin:0 auto 40px auto;
}
/*HEADER**********************************************/
header {
  width: 100%;
  height: 93px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo:hover{
    opacity: 0.5;
}

#logo {
  width: 80px;
  float: left;
  margin: 10px 0 0 50px;
}

#logo img{
  width: 100%;
}
header nav ul li:hover{
  margin-top: 10px;
}

header nav {
  float: right;
  margin: 10px 50px 0px 0px;
}

#nav ul a {
  float: right;
  margin-left: 15px;
  font-size: 25px;
}
/*Anfang*********************************************/
#anfang iframe{
  margin-top: 39px;
}

#anfang table th,#anfang table td {
  border: 1px solid gainsboro;
  background: #f6f6f6;
}

#anfang table{
  border-collapse: collapse;
  text-align: center;
  width:80%;
  margin:10px auto;
}
#anfang table th{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4f4f4f;;
  margin: 10px;
  font-size: 25px;
}
#anfang table td{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
/*grundinfos**********************************************/
#grundinfos{
  background:#ffffff;
}
#grundinfos h2{
  padding-top: 35px;
}
#grundinfos a{
  text-transform: none;
}
#grundinfos a:hover{
  margin-left: 42px
}
/*geographie**********************************************/
#geographie{
  background:#f4f4f4;
}
#geographie h2{
  padding-top: 35px;
}
#geographie a{
  text-transform: none;
}
#geographie a:hover{
  margin-left: 42px
}
/*geschichte**********************************************/
#geschichte{
  background:#ffffff;
}
#geschichte h2{
  padding-top: 35px;
}
#geschichte a{
  text-transform: none;
}
#geschichte a:hover{
  margin-left: 42px
}
/*footer*************/
footer {
  background: #d4d4d4
}
