html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

#logo, #nav ul li,#geschichte a, img {transition: all 500ms}

section{
  min-height: 100%;
}

a{
  text-decoration: none;
}

p{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 27px;
  width: 800px;
  margin: 30px auto 30PX auto;
}

li {
  list-style-type: none;
}
h1, h2, a, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4f4f4f;
  text-transform: uppercase;
  margin: 10px;
}
h1 {
  font-size: 54px;
  padding-top: 8%;
}
h2 {
  color:#4d574b;
  font-size: 36px;
}
h3{
  font-size: 30px;
}

hr {
  width: 82px;
  height: 3px;
  background: #4f4f4f;
  border: 20px;
  margin:0 auto 40px auto;
}
/*HEADER**********************************************/
header {
  width: 100%;
  height: 93px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo:hover{
    opacity: 0.5;
}

#logo {
  width: 80px;
  float: left;
  margin: 10px 0 0 50px;
}

#logo img{
  width: 100%;
}
header nav ul li:hover{
  margin-top: 10px;
}

header nav {
  float: right;
  margin: 10px 50px 0px 0px;
}

#nav ul a {
  float: right;
  margin-left: 15px;
  font-size: 25px;
}
/*Start**********************************************/
#anfang {
  background: url(../images/flaggenfovsr/wsobernostesien.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#anfang h1 {
  margin-top:  128px;
  font-family: "Train One", sans-serif;
  color: white;
}

#anfang h2 {
  font-family: "Train One", sans-serif;
  color: white;
}
/*aktuelles**********************************************/
#aktuelles table th,#aktuelles table td {
  border: 1px solid gainsboro;
}

#aktuelles table{
  border-collapse: collapse;
  text-align: center;
  width:80%;
  margin:10px auto;
}

#aktuelles table th{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #4f4f4f;;
  margin: 10px;
  font-size: 30px;
}

#aktuelles table td{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 24px;
}


/*geschichte**********************************************/
#geschichte{
  background:#f5f5f5;
}

/*footer*************/
footer {
  background: #d4d4d4
}
